<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/</robotNamespace>
        </plugin>
    </gazebo>

    <gazebo>
        <!-- plugin de dieu khien robot tren gazebo -->
        <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
            
            
            <!-- Wheel Information -->
            <leftJoint>joint_wheel_left</leftJoint>
            <rightJoint>joint_wheel_right</rightJoint>
            <wheelSeparation>0.44</wheelSeparation>   <!--khoang cach 2 banh xe-->
            <wheelDiameter>0.2</wheelDiameter>        <!--duong kinh banh xe-->


            <!-- limits -->
            <!-- <wheelTorque>200</wheelTorque>       
            <wheelAcceleration>10.0</wheelAcceleration> -->

            
            <!-- Output -->
            <odometryTopic>odom</odometryTopic>
            <odometryFrame>odom</odometryFrame>
            <robotBaseFrame>base_footprint</robotBaseFrame>

            <publishOdom>true</publishOdom>
            <publishOdomTF>true</publishOdomTF>
            <publishWheelTF>false</publishWheelTF>
            <publishWheelJointState>false</publishWheelJointState>

            <!-- phan bo sung -->
            <!-- <rosDebugLevel>na</rosDebugLevel> -->
            <commandTopic>cmd_vel</commandTopic>
            <updateRate>30</updateRate>
            <odometrySource>1</odometrySource>
            <!-- <publishTf>1</publishTf> -->

        </plugin>

    </gazebo>

</robot>